.contact-page {
  width: 100%;
  display: flex;
  justify-content: space-around; 
  padding: 0 80px;

  div {
    background-color: rgba(29, 73, 19, 0.87);
    box-shadow: 3px 3px 3px #0e2d06ff;
    padding: 10px;
    border-radius: 25px;
    width: 45%;
    display: flex;
    align-items: center;

    h1 {
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      font-size: 4.5rem;
      color: #e6ffe0ff;
      text-shadow: 2px 2px 2px #0e2d06ff;
      align-self: flex-start;
      padding-left: 10px;
    }
  }
}



.contact-form {
  width: 70%;
  height: 100%;

  form {
    width: 80%;
  }

  ul {
    padding: 0;
    margin: 0;
    // display: block;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: flex;
      justify-content: space-around;
      clear: both;
      position: relative;
      animation: fadeInUp 2s;
      animation-fill-mode: forwards;
      width: 92%;
      padding: 5px;

      a {
        position: absolute;
      }
    }

    li:hover {
      color: #e6ffe0ff;
    }

    li.name-email {
      width: 45%;
      margin-left: 2%;
      float: left;
      clear: none;
      height: 50px;
      padding: 5px;

      &:first-child {
        margin-left: 0;
      }
    }

    li.button {
      width: 100%;
      float: none;
      clear: both;
      height: 50px;
      padding: 5px;
      padding-right: 45px;
      display: flex;
      justify-content: flex-end;
      align-items: start;
    
      .send {
        width: 20%;
        margin-right: 0;
        float: none;
        color: rgb(91, 110, 105);
        background-color: rgba(35, 46, 30, 0.877);
        border: none;
        padding: 10px;
        border-radius: 25px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        font-size: 1.3rem;
        box-shadow: 2px 2px 2px #0e2d06ff;
      }

      .send:hover {
        background-color: rgba(35, 46, 30, 0.877);
        color: #e6ffe0ff;
        box-shadow: 0px 0px 5px #e6ffe0ff;;
      }

      .send:active {
        border: 2px solid #e6ffe0ff;
      }
    }
  }

  .subject,
  .email,
  .name {
    background-color:  rgba(35, 46, 30, 0.877);
    border: none;
    border-radius: 25px;
    color: #e6ffe0ff;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px #0e2d06ff;
  }

  input:hover {
    background-color: rgba(35, 46, 30, 0.877);
    color: #e6ffe0ff;
    box-shadow: 0px 0px 5px #e6ffe0ff;
  }

  textarea {
    background-color:  rgba(35, 46, 30, 0.877);
    border: none;
    border-radius: 25px;
    color: #3e524cff;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px #0e2d06ff;
  }

  textarea:hover {
    background-color: rgba(35, 46, 30, 0.877);
    color: #e6ffe0ff;
    box-shadow: 0px 0px 5px #e6ffe0ff;
  }
}

.social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  position: relative;

  p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5rem;
  }

  .social-links {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 10px;
    padding-right: 20%;

    li {
      width: 50%;
      list-style: none;
      animation: fadeInUp 2s;
      animation-fill-mode: forwards;
      display: flex;
      justify-content: space-around;

      a {
        color: #141F0F;
        text-decoration: none;
        font-size: 2rem;
        position: relative;
        text-decoration: none;

        .icon {
          color: #141F0F;
          font-size: 4.5rem;
          position: absolute;
          top: 10px;
          left: 25px;
        }

        .text {
          visibility: hidden;
          position: absolute;
          top: 25px;
          left: 5px;
        }
      }  

      a:hover {

        .icon {
          visibility: hidden;
        }

        .text {
          visibility: visible;
          font-weight: 600;
          text-shadow: 0px 0px 5px #e6ffe0ff;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .contact-page {
    padding: 0;
  }
} 

@media (max-width: 1050px) {
  .contact-page {
    padding: 0;
    margin-bottom: 80px;
    flex-direction: column;
    align-items: center;
    
  }

  .contact-page div {
    width: 80%;
  }

  .contact-page .social {
    height: 250px;
    margin-top: 50px;
  }

  .contact-page .social .social-links {
    padding-right: 10%;
  }

  .contact-page .social .social-links li {
    width: 50px;
  }
}  