.home-page {
  color: #e6ffe0ff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  
  .text-area {
    background-color: rgba(29, 73, 19, 0.87);
    box-shadow: 3px 3px 3px #0e2d06ff;
    padding: 10px;
    border-radius: 25px;
    width: 1200px;
    height: 700px;
    position: relative;
  
    h1 {
      position: absolute;
      font-family: 'Ysabeau SC', sans-serif;
      font-weight: 300;
      font-size: 4.5rem;
      text-shadow: 3px 3px 10px #0e2d06ff;
    }

    .name {
      top: 40%;
      right: 20%;
      font-size: 6.5rem;
    }

    .job {
      top: 55%;
      right: 20%;
    }

    p {
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      font-size: 1.5rem;
      color: #e6ffe0ff;
      position: absolute;
      top: 80%;
      left: 10%;
      visibility: hidden;
    }

    .fairy {
      width: 280px;
      position: absolute;
      top: 8%;
      left: 20%;
      animation: fadeIn 2s;
      animation: shakeY 40s infinite;
    }

  } 
}

@media screen and (max-width: 1300px) {
  .home-page .text-area {
    width: 90%
  }
  
  .home-page .text-area .name {
    font-size: 6rem;
    right: 15%;
  }

  .home-page .text-area .job {
    font-size: 4rem;
    right: 15%;
  }

  .home-page .text-area .fairy {
    left: 10%;
  }
}

@media screen and (max-width: 1000px) {
  
  .home-page .text-area .name {
    font-size: 6rem;
    right: 15%;
  }

  .home-page .text-area .job {
    font-size: 3rem;
    right: 15%;
  }
}

@media screen and (max-width: 800px) {
  
  .home-page .text-area .name {
    font-size: 5rem;
    right: 10%;
  }

  .home-page .text-area .job {
    font-size: 3rem;
    top: 50%;
    right: 10%;
  }

  .home-page .text-area .fairy {
    left: 10%;
    width: 230px;
    top: 20%;
  } 
}