div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;

  .nav {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-content: start;
    background-color: rgba(35, 46, 30, 0.877);
    padding: 12px; 

    li {
      list-style: none;
      font-size: 1.3rem;
      font-family: 'Quicksand', sans-serif;


      a {
        text-decoration: none;
        font-weight: 300;
        color: #e6ffe0ff;
      }

      a:hover {
        color: #b6c9bbff;
      }
    }
    
  }
}
